*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
 
 a {
    color: black;
    font-weight: 800;
    align-items: center;
 }
 
 .caroussel {
    height:38vw;
    width: 40vw;
    overflow: hidden;
    background-color: #1F1D1D;
    border-radius: 40px;
    max-height: 650px;
  }

   .card{
    flex-shrink: 0;
    width: 40vw;
    text-align: center;
    font-size: 2vw;
    color: #C1C1C1;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 .caroussel .slider {
    animation: caroussel 12s infinite ease-in-out;
    height: 38vw;
    max-height: 650px;
    /* Pour inverser l'animation */
    display: flex; 
    align-items: center;
    /* flex-direction: column-reverse; */
  }
 
 .promo4 {
    width: 70%;
    height: auto;
    border-radius: 40px;
 
 } 

 .VOUS {
  color: #C1C1C1;
  margin-left: 30vw;
  text-align: center;
  display: none;
 }
 
 

  @keyframes caroussel {
    0%,
    20% {
      transform: translateX(0);
    }
    25%,
    45% {
      transform: translateX(-100%);
    }
    50%,
    70% {
      transform: translateX(-200%);
    }
    75%,
    95% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(-400%);
    }
  }

  .commande {
    background: #C1C1C1;
    border-radius: 40px;
    width: fit-content;
    color: #1F1D1D;
    padding: 5px;
    display: flex;
    text-decoration: none;
  }

  .conteneurParent {
    display: flex;
    align-items: center;
    padding-right: 2vw;
  }

  .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20vw;
    font-size: 2vw;
    padding-right: 5vw;
  }

  .search {
    border-radius: 40px;
    padding: 0.6vw;
    width: 15.3vw;
  }

  @media screen and (max-width: 800px) {
    .conteneurParent {
      flex-direction: column;
    }

    .container1 {
      padding: 0;
      font-size: 6vw;
    }

    .VOUS {
      display: block;
    }

    .caroussel {
      margin-top: 8vh;
    }

    .search{
      width: 37vw;
    }
  }