
.card-container {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
}

.card-block {
  display: flex;
  
}

.card {
  width: 13vw;
  margin: 10px;
  padding: 2vw;
  border: 1px solid #1F1D1D;
  border-radius: 40px;
  background: #1F1D1D;

  
}
.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  animation: 0.10s;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card h3 {
  margin-top: 10px;
  color: white;
}

.card p {
  margin-top: 5px;
  color: white;
}

.retancle-gris{
  display: flex;
  width: 100vw;
  height: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  background: #C1C1C1;
  transform: translateY(6vh);
}

.menu-2{
  display: flex;
  justify-content: space-around;
  margin: 1vw;
}
.menu-2 i{
  display: flex;
  font-size: 1vw;
}

.Prix{
  width: 100%;
  display: flex;
  justify-content: right;
  padding-bottom: 2px;
  
}

.Prix span{
  font-size: 2vh;
  color: white;
}

.color-prix{
  width: 10%;
  height: 10px;
  background-color: forestgreen;
  border-radius: 5px;
  margin: 5px;

}

.page{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

span{
  display: none;
}


  @media only screen and (max-width: 800px) {
    /* iphone SE */
 

  .card-container {
    margin: 10px;
  }

  .card-block {
    flex-direction: column;
  }

  .card {
    width: 60vw;
    margin: 10px auto;
  }

  .retancle-gris {
    display: none;
   
  }

  .menu-2{
    display: flex;
    justify-content: space-around;
    
    
  }
  .menu-2 i{
    display: flex;
    font-size: 1.2vh;
    display: none;
  
  }

  span{
    display: flex;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 40px;
  }

  .Prix p{
    font-size: 2.8vw;
  }
  .card h3 {
    font-size: 1.2vh;
    }
  }

   @media only screen and (min-width: 801px) and (max-width: 1000px)  {
  
  .retancle-gris{
    padding: 0;
  }

    .card {
      width: 22vw;
    }
    .card-container {
      margin: 1vw;
      margin-top: 15vh;
    }

    .menu-2 i{
      display: flex;
      font-size: 2.2vh;
    
    
    }

  }